.productDetail-container{
    width: 80%;
    margin: 100px auto;
}
.productDetails-img img{
    width: 60%;
    border-radius: 10px;
    transition: .3s linear;
}
.productDetails-img img:hover{
    transform: scale(0.9)
}
.productsDetails{
    background: url(../../image/product_bg.jpg);
    background-size: cover;
}
.deliver-btn{
    color: #fff;
    background-color: #D80040;
    margin-left: 40px;
    padding: 10px 30px;
    border-radius: 30px;
}